.App, .submitDiv {
  text-align: center;
}

.SPEEDnavbar {
  text-align: center;
  margin-bottom: 30px;
}

.navTitle {
  color: darkviolet;
  font-weight: bold;
  font-size: 2.2em;
  margin: 10px;
}

.tagline {
  font-weight: normal;
  font-style: italic;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.loginButton {
  position: absolute;
  right: 20px;
  top: 20px;
}

.buttonLinkStyle {
  background-color: darkturquoise;
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: bold;
  color: white;
  border: none
}

.navlinks {
  gap: 30px;
  background-color: darkviolet;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 70%;
}

.loginForm {
  background-color: darkviolet;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  padding: 30px 20px;
  border-radius: 10px;
  margin-top: 90px;
}

.formTitle {
  color: white;
  padding-bottom: 40px;
  text-align: center;
}

form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: left;
  width: 240px;
  height: 25px;
  font-size: 15px;
}

label {
  font-size: 20px;
  color: white;
}

.formButton {
  margin-top: 10px;
  margin-bottom: 25px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 15px;
  border-width: 2px;
  font-weight: bold;
  border-color: white;
  width: 100%;
}

.flexCentre {
  display: flex;
  justify-content: center;
}

.customTableWidth {
  width: 95%;
}

th:hover {
  cursor: pointer;
}

.sortOrder {
  color: blue;
}

.errorMessage {
  color: white;
  font-size: 16px;
}

.submitDiv {
  display: flex;
  flex-direction: column;
}

.submitDiv input {
  margin: 10px auto 10px auto;
}

.errorP {
  margin-bottom: 0px;
}

.submitButton {
  width: fit-content;
  margin: auto;
}

